@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .radio-button+label {
        border: 1px solid #717171;
        cursor: pointer;
    }

    .radio-button+label:hover {
        border: 1px solid #222222;
    }

    .radio-button+label:before {
        background: #fff;
    }

    .radio-button+label:hover:before {
        outline: 1px solid #222222;
    }

    .radio-button:checked+label {
        border: 1px solid #0D5257;
        background: #0D5257;
        color: #fff;
    }

    .radio-button:checked+label:before {
        border: 1px solid #0D5257;
    }

    .radio-button:focus-visible+label {
        border: 2px solid #BC2318;
    }

    .radio-button+label:after {
        position: absolute;
        content: '';
        top: 1.225rem;
        right: 1.225rem;
        width: 0.75rem;
        height: 0.75rem;
    }

    .radio-button:checked+label:after {
        position: absolute;
        background: url('./assets/radio-tick.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
}